<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Team Section</title>
</head>
<body>
    <div class="team-section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1>Our team </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum perferendis reprehenderit eveniet, doloribus autem rem eos nobis fugit laboriosam deleniti accusantium blanditiis officia accusamus consequuntur, consectetur nemo mollitia ipsum?</p>
                </div>
                <div class="team-card">
                    <div class="card">
                        <div class="image-section">
                            <img src="#" alt="">
                        </div>
                        <div class="context">
                            <h3>Ositade Ayokunle</h3>
                            <h4>Web Developer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-section">
                            <img src="#" alt="">
                        </div>
                        <div class="context">
                            <h3>Bayode Iretoomiwa</h3>
                            <h4>Web Developer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-section">
                            <img src="#" alt="">
                        </div>
                        <div class="context">
                            <h3>Omaga David Owoichio</h3>
                            <h4>Web Designer</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>