{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {{ type | title }} | Hebron Stores </title>
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logob.png' %}" alt="Logo" width="200px"></a>
            </div>
            <nav>
                <ul id="Menuitems">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'products' 1 %}">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="">Contact</a></li>
                    {% if request.user.username %}
                        <li><a href="{% url 'logout' %}"> {{ request.user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'auth' %}">Account</a></li>
                    {% endif %} 
                </ul>
            </nav>
            <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" alt="cart" width="30px" height="30px"></a>
            <img src="{% static './images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <div class="small-container">
        <div class="row row-2">
            <h2>All {{ type | title }}</h2>
            <form action="" method="POST"> {% csrf_token %}
            <select name="order" onchange='this.form.submit()'>
                <option value="Default" selected disabled>Sort by {{ value }}</option>
                <option value="Default">Default Sorting</option>
                <option value="Price">Sort by Price</option>
                <option value="Popularity">Sort by Popularity</option>
                <option value="Ratings">Sot by Ratings</option>
            </select>
        </form>
        </div>
 <!-- ------------ all product ------------ -->
        <div class="row">
            {% for item in list %}
              
            <div class="col-4">
            <a href="{% url 'productdetails' item.pk %}">
            <img src="{{ item.picture1.url }}" alt="{{ item.name }}">
                <h4>{{ item.name }}</h4>
                <div class="rating">
                   {% if item.rating == 1 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %}
                   {% if item.rating == 2 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.rating == 3 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.rating == 4 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.rating == 5 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                   {% endif %} 
                </div>
                
                <p>₦ {{ item.price }}</p>
                </a>
            </div>

            {% endfor %}
        </div>
        <div>
            <div class="page-btn">
                {% for p in plist  %}
                <span><a href="{% url 'productsa' type p %}">{{ p }}</a></span>
                {% endfor %}
                
                <span>&#8594;</span>
            </div>
        </div>  
    </div>
    

<!-- ------------ footer ----------------- -->
    <div class="footer">
       <div class="cointainer">
            <div class="row">
                <div class="footer-col-1">
                    <h3> Download our App</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="app-logo">
                        <img src="{% static './images/play-store.png' %}" >
                        <img src="{% static './images/app-store.png' %}" >
                    </div>    
                </div>
                <div class="footer-col-2">
                    <img src="{% static './images/logo-white.png' %}" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Fugiat, minima ut. Aspernatur voluptates </p>
                </div>
                <div class="footer-col-3">
                    <h3> Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3> Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2022 - Adams Web Dev</p>
       </div> 
    </div>
<!-- ------js for toggle menu------- -->
    <script>
        var Menuitems = document.getElementById("Menuitems");
        Menuitems.style.maxHeight = "0px";
        function menutoggle(){
            if(Menuitems.style.maxHeight == "0px"){
                    Menuitems.style.maxHeight="200px";
                }
            else
                {
                    Menuitems.style.maxHeight = "0px";
                }
        }
    </script>
</body>
</html>