{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {{ type | title }} | Hebron Stores </title>
</head>
<body>
    
    <div class="container" style="padding: 0px;">
        <div class="navbar" style="padding: 0px;">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logob.png' %}" alt="Logo"></a>
            </div>
            <style>
                .container .navbar .logo a img {
                    width: 200px;
                }
                .container .navbar .searchbar {
                    width: 100%;
                }
                .container .navbar .searchbar form #search {
                    width: 85%;
                    height: 30px;
                    border-right: none;
                    border-radius: 20px 0px 0px 20px;
                    background: rgb(224, 221, 221);
                    color: #49201b;
                    font-size: 18px;
                    padding-left: 10px;
                }
                @media (max-width: 858px) {
                    .container .navbar .logo a img {
                        width: 150px;
                    }

                    .container .navbar .searchbar form {
                        width: 120%;
                    }

                    .container .navbar .searchbar form #search {
                        width: 85%;
                    }
                }
            </style>
            <div style="width: 40%; margin: 0 1%;" class="searchbar">
                <form action="../search/" method="POST"> {% csrf_token %}
                <input type="search" id="search" placeholder="Search..." name="search" />
                <button type="submit" style="
                width: 15%;
                float: right;
                height: 30px;
                border-left: none;
                border-radius: 0px 20px 20px 0px;
                background: rgb(224, 221, 221);
                color: #49201b;
                font-size: 18px;
                "><i class="fa fa-search"></i></button>
                </form>
            </div>
            <nav>
                <ul id="Menuitems">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'products' 1 %}">Products</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="../../about#contact">Contact</a></li>
                    {% if request.user.username %}
                        <li><a href="{% url 'logout' %}"> {{ request.user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'auth' %}">Account</a></li>
                    {% endif %}   
                </ul>
            </nav>
            <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" alt="cart" width="30px" height="30px"></a>
            <img src="{% static './images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
        </div>

    <div class="this" style="width: 100%; text-align: center; margin-top: 20px;">
        <style>
            .this ul {
                display: inline-flex;
                list-style: none;
            }
            .this ul li {
                width: auto;
                margin: 0px 0% 0px 8.5%;
                padding: 0;
                color: #555;
                
            }

            @media (max-width: 858px) {
                .this ul li {
                    width: auto;
                    margin: 0px 0% 0px 3%;
                    padding: 0;
                    color: #555;
                    font-size: small;
                }
            }
        </style>
        <ul id="Menuitems" style="width: 100%;">
            <li><a href="{% url 'products' 1 %}">All</a></li>
            <li><a href="{% url 'productsa' 'snacks' 1 %}">Snacks</a></li>
            <li><a href="{% url 'productsa' 'clothes' 1 %}">Clothes</a></li>
            <li><a href="{% url 'productsa' 'shoes' 1 %}">Shoes</a></li>
            <li><a href="{% url 'productsa' 'accessories' 1 %}">Accessories</a></li>
            <li><a href="{% url 'productsa' 'gadgets' 1 %}">Gadgets</a></li>
            <li><a href="{% url 'productsa' 'miscellaneous' 1 %}">Miscellaneous</a></li>
        </ul>
        
        </div>

    <div class="small-container">
        <div class="row row-2">
            {% if list|length == 0 %}
                <p></p>
            {% else %}
            <h2>All {{ type | title }}</h2>
            {% endif %}
            <form action="" method="POST"> {% csrf_token %}
            <select name="order" onchange='this.form.submit()'>
                <option value="Default" selected disabled>Sort by {{ value }}</option>
                <option value="Default">Default Sorting</option>
                <option value="Price">Sort by Price</option>
                <option value="Popularity">Sort by Popularity</option>
                <option value="Ratings">Sot by Ratings</option>
            </select>
        </form>
        </div>
 <!-- ------------ all product ------------ -->
        <div class="row">
            {% if list|length == 0 %}
                <p>No {{ type }}</p>
            {% else %}

            {% for item in list reversed %}
              
            <div class="col-4">
            <a href="{% url 'productdetails' item.pk %}">
            <img src="{{ item.picture1.url }}" alt="{{ item.name }}">
                <h4>{{ item.name }}</h4>
                <div class="rating">
                    {% if item.arating >= 1 and item.arating <= 1.3 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %}
                   {% if item.arating >= 1.3 and item.arating <= 1.6 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.arating >= 1.6 and item.arating <= 2.3 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.arating >= 2.3 and item.arating <= 2.6 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.arating >= 2.6 and item.arating <= 3.3 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %}
                   {% if item.arating >= 3.3 and item.arating <= 3.6 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %}
                   {% if item.arating >= 3.6 and item.arating <= 4.3 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                   {% endif %} 
                   {% if item.arating >= 4.3 and item.arating <= 4.6 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                   {% endif %} 
                   {% if item.arating >= 4.6 and item.arating <= 5 %}
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                   {% endif %} 
                </div>
                
                <p>₦ {{ item.price }}</p>
                </a>
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div>
            <div class="page-btn">
                {% for p in plist  %}
                <span><a href="{% url 'productsa' type p %}">{{ p }}</a></span>
                {% endfor %}
                
                <span>&#8594;</span>
            </div>
        </div>  
    </div>
    

<!-- ------------ footer ----------------- -->
    <div class="footer">
       <div class="cointainer">
            <div class="row">
                <div class="footer-col-1">
                    <h3> Download our App</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="app-logo">
                        <img src="{% static './images/play-store.png' %}" >
                        <img src="{% static './images/app-store.png' %}" >
                    </div>    
                </div>
                <div class="footer-col-2">
                    <img src="{% static './images/logo-white.png' %}" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Fugiat, minima ut. Aspernatur voluptates </p>
                </div>
                <div class="footer-col-3">
                    <h3> Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3> Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2022 - Adams Web Dev</p>
       </div> 
    </div>
<!-- ------js for toggle menu------- -->
    <script>
        var Menuitems = document.getElementById("Menuitems");
        Menuitems.style.maxHeight = "0px";
        function menutoggle(){
            if(Menuitems.style.maxHeight == "0px"){
                    Menuitems.style.maxHeight="200px";
                }
            else
                {
                    Menuitems.style.maxHeight = "0px";
                }
        }
    </script>
</body>
</html>